<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Login</h1>
  

  
  <form action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <p></p>
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <p></p>
    <br>
    <input type="submit" value="Login">
  </form>

  <script>
  function showNotification(message) {
    var notification = document.createElement('div');
    notification.classList.add('notification');
    notification.textContent = message;
    document.body.appendChild(notification);
  
    // Add the 'show' class to display the notification
    setTimeout(function() {
      notification.classList.add('show');
    }, 100);
  
    // Remove the notification after a certain duration
    setTimeout(function() {
      notification.classList.remove('show');
      setTimeout(function() {
        document.body.removeChild(notification);
      }, 300);
    }, 3000); 

  }

  </script>
  <% if session[:registration_success] %>
  <script>showNotification('Registration successful!');</script>
  <% end %>
  
</body>
</html>
